extends partials/content.pug

block content
    h1.text-xs-center.text-muted.m-y-3 Contact, Connect, or Collaborate!
    .col-lg-4.col-md-6.text-xs-center
        img(src="assets/images/Mail.png").m-y-1
        h3.text-muted Email
        p.text-muted LeJonMcGowan@gmail.com
    .col-lg-4.col-md-6.text-xs-center
        a(href="https://github.com/lejonmcgowan")
            img(src="assets/images/Github.png").m-y-1
        a(href="https://github.com/lejonmcgowan")
            h3.text-muted Github
    .col-lg-4.col-md-6.text-xs-center
        a(href="https://www.linkedin.com/in/lejon-mcgowan-b0518998")
            img(src="assets/images/LinkedIN.png").m-y-1
        a(href="https://www.linkedin.com/in/lejon-mcgowan-b0518998")
            h3.text-muted Linkedin