extends partials/content.pug

block content
    h2.text-center.text-white.my-2 Contact, Connect, or Collaborate!
    .row.my-2.justify-content-center
        .col-sm
            img(src="assets/images/Mail.png").d-block.mx-auto.my-1
            h3.text-white.text-center Email
            p.text-white.text-center LeJonMcGowan@gmail.com
        .col-sm
            a(href="https://github.com/lejonmcgowan")
                .col-sm            
                    img(src="assets/images/Github.png").d-block.mx-auto.my-1
                    h3.text-white.text-center Github
        .col-sm
            a(href="https://www.linkedin.com/in/lejon-mcgowan-b0518998")
                .col-sm            
                    img(src="assets/images/LinkedIN.png").d-block.mx-auto.my-1
                    h3.text-white.text-center LinkedIn