extends partials/content.pug

block content
    h2.text-center.pt-5.text-muted Ongoing Projects
    
    h2.text-center.pt-5.text-muted Previous Projects
    #projectBox.my-3.d-flex.flex-wrap.justify-content-center
        each project in cardHeaders["cardHeaders"]
            include partials/projectCard