extends partials/content.pug

block content
    h2.text-center.text-white PDF Resumes
    a(href="assets/resume/resumeGeneral.pdf")
        h4.text-center.text-white General
    a(href="assets/resume/resumeGaming.pdf")
        h4.text-center.text-white Gaming focused
    hr

    p Hello!

