extends partials/content.pug

block content
    h2.text-center.text-muted.my-4 PDF Resumes
    a(href="assets/resume/resumeGeneral.pdf").btn.btn-lg.btn-outline-light.btn-block.my-4 General
    a(href="assets/resume/resumeGaming.pdf").btn.btn-lg.btn-outline-light.btn-block.my-4 Gaming focused
    hr.mb-5

