extends partials/content.pug

block content
    h2.text-xs-center.text-info.m-y-3 PDF Resumes
    a(href="assets/resume/resumeGeneral.pdf")
        h4.col-xs-6.text-xs-center General
    a(href="assets/resume/resumeGaming.pdf")
        h4.col-xs-6.text-xs-center Gaming focused
    hr

    p Hello!

