//
   Created by lejonmcgowan on 9/21/16.
block vars

html(lang="en")
    head
        title LeJon's Portfolio
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        block script
        link(rel="stylesheet" type="text/css" href="css/bootstrap.css")
        link(rel="stylesheet" type="text/css" href="css/customStyle.css")
    
        script(type="text/javascript" src="js/jquery.min.js")
        script(type="text/javascript" src="js/popper.min.js")
        script(type="text/javascript" src="js/bootstrap.min.js")
    body
        #backgroundImage
            include header
            block pre-content
            div.container.mt-1
                #innerBackground.content-background
                    .container
                        block content
