//
   Created by lejonmcgowan on 9/21/16.

html(lang="en")
    head
        title LeJon's Portfolio
        meta(charset="UTF-8")
        block script
        link(rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css")
        link(rel="stylesheet" type="text/css" href="css/customStyle.css")
        script(type="text/javascript" src="jquery/jquery.js")
        script(type="text/javascript" src="tether/js/tether.min.js")
        script(type="text/javascript" src="bootstrap/js/bootstrap.js")
    body
        #backgroundImage
            include header
            block pre-content
            div.container.m-t-1
                #innerBackground.background-light
                    .container.m-x-2.m-t-2
                        block content
