//Created by lejonmcgowan on 9/21/16.
link(rel="stylesheet" type="text/css" href="css/bootstrapSticky.css")
footer.footer.navbar-dark.bg-inverse
    .container
        p.text-muted.text-xs-center.p-t-1 Place sticky footer content here

