//Created by lejonmcgowan on 9/21/16.
//todo: have the navbar hide on scroll down, show on scroll up
nav.navbar.navbar-dark.bg-inverse.navbar-fixed-top
    h2.navbar-brand(href="/") LeJon McGowan
    div.container
        ul.nav.navbar-nav.navbar-center
            li.nav-item
                a.nav-link(href="/") Portfolio
            li.nav-item
                a.nav-link(href="/about") About
            li.nav-item
                a.nav-link(href="/contact") Contact
