//Created by lejonmcgowan on 9/21/16.
//todo: have the navbar hide on scroll down, show on scroll up
nav#portheader.navbar.navbar-dark.bg-primary
    a(href="/")
        h2#brand-text.col-lg-12.navbar-brand LeJon McGowan
    div.container
        ul.nav.navbar-nav.navbar-center
            li.nav-item
                a.nav-link.nav-size.stroke(href="/") Portfolio
            li.nav-item
                a.nav-link.nav-size.stroke(href="/resume") Resume
            li.nav-item
                a.nav-link.nav-size.stroke(href="/contact") Contact
