- var bannerStyle = "background: #777777 url('" + projectImage + "') center/cover no-repeat;"       ;
.bd-pageheader(style=bannerStyle)
    .container#bannerBox
            h1.display-4.text-center.text-white #{projectName}
            p.text-center.text-white #{projectLead}
                