//Created by lejonmcgowan on 9/21/16.

- var url = project.link
    .card.d-block.mx-atuo.m-3.bg-dark(style="max-width:400px")
        a(href=url)
            img.card-img-top(src=project.imagePath)
            .card-body
                h3.text-white.text-center.card-title #{project.title}
                p.text-white.text-center.card-text #{project.description}