- var bannerStyle = "background: #777777 url('" + projectImage + "') center/cover no-repeat;"       ;
.bd-pageheader.m-t-2(style=bannerStyle)
    .container
        h1 #{projectName}
        p.lead
            | Over a dozen reusable components built to provide buttons, dropdowns, input groups, navigation, alerts, and much more.