extends ../partials/content.pug

block content
    i
        h1.display-3.text-muted.text-center Bringing Creativity to Life
    br

    h5.text-light.text-center I am a student at Cal Poly SLO, majoring in Software Engineering, and minoring in Computing for Interactive Arts. Visual arts are my passion and I want to contribute to the field from a technical perspective. I specialize in computer graphics and am currently seeking employment in the game or animation industry.

    h2.
    #projectBox.m-t-3
    each project in cardHeaders
        include ../partials/projectListEntry
